.container-headerhome {
  height: 20vh;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .title-main {
    font-size: 30px;
    font-weight: bold;
    color: red;
  }
  nav {
    display: flex;
    font-weight: bold;
    a {
      transition: 0.4s;
      margin: 0 20px;
      text-decoration: none;
      &:hover {
        color: whitesmoke;
      }
    }
    .active a {
      color: whitesmoke;
      text-shadow: 4px 4px 4px blue;
    }
  }

  .btn {
    width: 80px;
    height: 40px;
    background-color: white;
    text-align: center;
    a {
      text-decoration: none;
    }
  }
  .btn.active {
    background-color: blue;
    box-shadow: 4px 0px 5px white;
    a{
      color: whitesmoke !important;
      font-weight: bold;
    }
  }
  .btn.logout{
    background-color: rgb(168, 61, 35);
    padding-left: 7px;
    a{
      color: black;
      font-weight: bold;
    }
    &:hover{
      opacity: 0.7;
    }
  }
}
.scroll {
  background-color: blueviolet;
  font-weight: bold;
  color: whitesmoke;
}
