.container-headerhome {
  height: 20vh;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .title-main {
    font-size: 30px;
    font-weight: bold;
    color: red;
  }
  nav {
    display: flex;
     a{
      margin: 0 20px;
      text-decoration: none;
        &:hover{
          color : whitesmoke
        }
     }
  }

  .btn {
    width: 80px;
    height: 40px;
    background-color: white;
    text-align: center;
    a {
      text-decoration: none;
    }
  }

}
.scroll{
  background-color: blueviolet;
  font-weight: bold;
  color: whitesmoke;
}
